@CHARSET "EUC-KR";

a:link { text-decoration: none; color:black; }
a:visited { text-decoration: none; color:black;}
a:hover { text-decoration: none; color:black;}
a:active { text-decoration: none; color:black;}

#navmenu {
	display: none
}

#article {
	width: 6.5in
}

